
    /* style.css */

    div{
        background: #eee;
        width: 500px;
        margin: 0 auto;
        padding: 20px;
    }

    h1{
        /*code here*/
        text-align: center;
        letter-spacing: 10px;
        text-transform: uppercase;
    }

    p{
        /*code here*/
        line-height: 30px;
    }

